@mixin font($font-family, $font-weight, $font-path) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight;
    src: url($font-path + '/' + $font-family + '-' + $font-weight + '.eot');
    src: url($font-path + '/' + $font-family + '-' + $font-weight + '.eot?#iefix') format('embedded-opentype'),
    url($font-path + '/' + $font-family + '-' + $font-weight + '.woff') format('woff'),
    url($font-path + '/' + $font-family + '-' + $font-weight + '.ttf') format('truetype'),
    url($font-path + '/' + $font-family + '-' + $font-weight + '.svg#' + $font-family) format('svg');
  }
}

