
$blue-dark: #00338d;
$blue: #115dc4;
$blue-light: #5196e5;

$black: #0b1421;
$grey-dark: #373b49;
$grey: #676c7d;
$grey-light: #abafbf;
$white: #f7f8fc;

[worksheet="container"] {
  * {
    font-family: RT Raleway;
    font-style: normal;
  }

  font-family: RT Raleway;
}

[popup] {
  .content {
    padding:8px 16px;
  }
}