$blue-dark: #00338d;
$blue: #115dc4;
$blue-light: #5196e5;

$black: #0b1421;
$grey-dark: #373b49;
$grey: #676c7d;
$grey-light: #abafbf;
$white: #f7f8fc;

[worksheet="container"] {
  font-family: Raleway;
  font-style: normal;

  [worksheet="section"] {
    background:#f7f8fc;
    > div {
      > [section=header] {
        [block=container] {
          :nth-child(1) {
            color:$black;
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
          }
          :nth-child(2) {
            font-family: Cabin;
            margin-top:8px;
            color:#5F6062;
            font-weight: normal;
            font-size: 18px;
          }
        }

        [dropdown] {

        }

        > div:first-child {
          display:flex;
          > div {
            flex:1;
            &[dropdown] {
              width:330px;
              flex:initial;
              display:flex;
              flex-direction: column;
              flex-direction: column;
              background: white;
              border-radius: 4px;
              height: 64px;
              padding: 12px 24px;
              border-bottom: 1px solid #0000001f;
              box-shadow: 0px 0.5px 0px #0000001f;

              > div {
                flex:1;
                &:last-child {
                  font-family: Raleway;
                  font-weight: normal;
                  font-size: 18px;
                }
              }
              > .dropdown {
                > .text {
                  font-family: Raleway;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }
        }

        hr {
          margin-top:24px;
          margin-bottom:16px;
          background:$grey-light;;
        }
      }

      > [section=body] {
        p {
          margin: 16px 0;
          font-family: Cabin;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #5F6062;
          line-height: 25.2px;
          &:first-child {
            margin-top:0px;
          }
          &:last-child {
            margin-bottom:0px;
          }
        }
        [expandable] {
          > div {
            transition: 600ms;
            overflow:hidden;

          }
          &[expanded=false] {
            > div {
              height:0;

            }
          }
          &[expanded=true] {
            > div {
              height:auto;
              max-height:400px;
              margin-bottom:24px;
            }
          }
          > div {
            + button {
              font-family: Raleway;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              border:0px none;
              padding-left: 0;
              text-transform: capitalize;
              background-color:rgba(255,255,255,0);
            }
          }
        }
      }

      > [section=footer] {
        [alert] {
          margin-bottom:0px;
        }
      }
    }

    [alert] {
      display:flex;
      padding:8px 24px;
      border-radius:4px;
      background: #E3E5EE;
      margin: 24px 0;
      font-family: Cabin;
      font-size: 18px;
      line-height: 25.2px;
      align-items: center;
      svg {
        flex:initial;
        fill:rgba(0,0,0,.2);
         + div {
           flex:1;
           margin-left:16px;
         }
      }
    }
  }
}
