[type=table]{
  margin-bottom:16px;
  > [table=row] {
    display:flex;
    border-top:1px solid rgba(0,0,0,.1);

    &:hover {
      background-color:rgba(0,0,0,.05);

      [color='property'] {
        [color=name] {
          background-color:rgba(255,255,255,1);
          color:black;
        }
      }
    }

    &:last-child {
      border-bottom:1px solid rgba(0,0,0,.1);
    }

    > div {
      display:flex;
      width:100%;
      > * {
        flex: 1;
        display:flex;
        padding: 4px;
        align-items: center;

        &[color=name] {
          font-weight: 600;
          font-size: 13px;
          text-transform:capitalize;
        }

        &[color=square] {
          flex: initial;
        }

        &[color=property] {
          flex:initial;
        }
      }
    }
  }
}
