[color='square'] {
  border-radius: 0;
  box-shadow: none;
  font-size: 10px;
  margin: 0;
  text-align: center;
  width: 60px;
  flex: initial;
  display: flex;
  height: 60px;
  justify-content: center;
  color: #fff;
  align-items: center;

  &[value='blue1'] {
    background-color:#14356f
  }
}



