$blue-dark: #00338d;
$blue: #115dc4;
$blue-light: #5196e5;

$black: #0b1421;
$grey-dark: #373b49;
$grey: #676c7d;
$grey-light: #abafbf;
$white: #f7f8fc;

[page=header] {
  margin-bottom:16px;

  nav {
    margin-top:12px;
    * {
      font-size:14px;
      font-weight:400;
    }
    ol{
      display:flex;
      margin: 0;
      padding: 0;
      li {
        display:flex;
        color: $grey-dark;
        transition: color .3s;
        text-transform:capitalize;

        > a {

        }

        &:last-child {
          color: rgba(0,0,0,.65);
          font-weight:500;

        }

        + span {
          width:20px;
          text-align:center;
        }
      }
    }
  }
  [page=title] {

  }
}