div[font=textstyle] {
  display:flex;
  flex-direction: column;
  margin-bottom: 0px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  max-width: 700px;
  padding:8px 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  [suffix] {
    &:after {
      content:attr(suffix);
      font-size:10px;
      color:dimgrey;
    }
  }

  > div {
    display:flex;
    align-items: flex-end;
    span {

    }

    label {
      text-transform:capitalize;
      margin-right:8px;
      display:flex;
      align-items: flex-end;

      svg {
        fill:dimgrey;
        transform: scale(1);
      }
      + span {
        text-transform: uppercase;

        &[suffix] {
          &:after {

          }
        }
      }
    }

    > div {
      label {

      }
      span {

      }
    }
  }
  [textstyle=label] {
    text-transform: uppercase;
    color:black;
    span {

      &[suffix]:after {
        margin-left:8px;
        font-size:10px;
        font-weight:900;
      }

    }
  }

  [textstyle=props] {
    display:flex;


    > div {
      flex:1;
      display:flex;
      height:26px;
      align-items: flex-end;
      justify-content: flex-start;
      position:relative;

      label {
        + span {
          font-size: 18px;
          line-height: 12px;
          position: absolute;
          bottom: 0px;
          height: 12px;
          left: 24px;
        }
      }

    }
  }
}