[card] {
  span {
    &[type=separator] {
      width:50px;
      text-align: center;
      padding: 0px 4px;
    }
  }
}

[wrapper=select] {
  .MuiFormControl-root {
    width:100%;
  }
}
[wrapper=iconbuttons] {
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
  > * {
    flex:initial;
    width:50px;
    height:100%;
  }
  > [type=spacer] {
    flex:1;
    color: #0B1421;
    font-size: 18px;
    text-align: center;
    font-family: "RT Raleway", sans-serif;
    font-weight: 700;
    line-height: 25.2px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  svg {
    color: #0B1421;
  }
}