[color='property'] {
  display:flex;
  flex:initial;
  align-items: center;
  > [color] {
    font-size:11px;
    text-transform: uppercase;
    margin: 0px 3px 0 0;
  }
  [color=name] {
    background-color: #f8f8f8;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgba(0,0,0,.4);
    display: inline-block;
    font-size: 11px;
    line-height: 20px;

    padding: 0 5px;
    text-transform:uppercase;
  }
  [color=value] {
    margin: 0px 3px 0 0;
    font-size:13px;
  }

  &[type=hex] {
    width:120px;
  }
  &[type=rgb] {
    width:148px;
  }
  &[type=hsv] {
    width:180px;
  }

}



