$blue-dark: #00338d;
$blue: #115dc4;
$blue-light: #5196e5;

$black: #0b1421;
$grey-dark: #373b49;
$grey: #676c7d;
$grey-light: #abafbf;
$white: #f7f8fc;

[worksheet="section"] {
  background:#f7f8fc;
  > div {
    [type=header] {
      [block=container] {
        :nth-child(1) {
          color:$black;
          font-weight: bold;
          font-size: 24px;
          line-height: 34px;
        }
        :nth-child(2) {
          font-family: Cabin;
          margin-top:8px;
          color:#5F6062;
          font-weight: normal;
          font-size: 18px;
        }
      }
      > div:first-child {
        display:flex;
        > div {

        }
      }

      hr {
        margin-top:24px;
        margin-bottom:16px;
        background:$grey-light;;
      }
    }

    [type=body] {
      p {
        margin: 16px 0;
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #5F6062;
        line-height: 25.2px;
        &:first-child {
          margin-top:0px;
        }
        &:last-child {
          margin-bottom:0px;
        }
      }
    }

    [type=footer] {
      [alert] {
        margin-bottom:0px;
      }
    }
  }
}
