//@import url('https://fonts.googleapis.com/css?family=Helvetica');

body {
  font-family:Roboto;
  color:black;
  font-weight:500;
}


[layout=page] {
  // TODO: Bring in pixel css mixins/utils to
  //       reduce organic flex box use amound other craziness
  [truncate] {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul {
    list-style-type: none;
  }
  > [class*='-page-header']:before {
    content: "Digital Commons";
    width: 100%;
    height: 200px;
    background: rgb(0, 82, 154);
    position: absolute;
    top: -200px;
    display: flex;
    align-items: flex-end;
    color:transparent;
    text-transform: capitalize;
    font-size: 20px;
  }

  > div {
    display:flex;
    [type=sidebar] {
      border-right: 1px solid #00000021;
      box-shadow: -2px -1px 8px 4px #0000001c;
      z-index: 20;
      width: 225px;
      min-height: 100vh;
      position:relative;
      background:rgba(255,255,255,1);
      > div {
        padding:16px;
      }
      [sidebar=header] {
        display: flex;
        justify-content: center;
        padding-top: 16px;
        > a {
          width: 100%;
          height: 100%;
          justify-content: center;
          display: flex;
        }
        img {
          width:60%;
        }
      }
      [sidebar=body] {
        margin-top:30px;

        [class*='TreeItem-content'] {
          padding:6px 0 6px 0px;
        }
        [class*='TreeItem-root'] {
          &[class*='-selected'] {
            > div > [class*='TreeItem-label'] {
              background:rgba(255,255,255,0);
              > [nav=item] {
                p {
                  color:#115dc4;
                  background-color:rgba(255,255,255,0);
                  font-weight:500;
                }
              }
            }
          }
        }

        [nav=item] {
          display:flex;
          align-items:center;
          > svg, img {
            width:16px;
            height:16px;

            flex:initial;
            + p {
              flex:1;
              margin-left:8px;
              text-align:left;
            }
          }

          [class*='Button-root'] {
            text-transform:initial;
            width:100%;
            [class*='Button-label'] {
              justify-content:flex-start;
            }
          }
        }
        [class*='-iconContainer']:empty {
          display:none;
        }
      }
      [sidebar=footer] {

      }

      [class*=Typography] {
        font-family: 'Cabin', sans-serif;
      }
    }

    [type=page] {
      margin-left:24px;
      display: flex;
      flex-direction: column;
      position:relative;
      z-index:1;

      > span:first-child {
        float:left;

      }
      nav {
        margin-top:12px;
        * {
          font-family: Roboto;
          font-size:14px;
          font-weight:400;
        }
        ol{
          display:flex;
          margin: 0;
          padding: 0;
          li {
            display:flex;
            color: rgba(0,0,0,.45);
            transition: color .3s;
            text-transform:capitalize;

            > a {
              color:inherit;
            }

            &:last-child {
              color: rgba(0,0,0,.65);
              font-weight:500;

            }

            + span {
              width:20px;
              text-align:center;
            }
          }
        }
      }

      [page=footer] {
        width:100%;
        height:140px;
        position:relative;
        &:after {
          content: "";
          position: absolute;
          width: calc(100% + 208px);
          height: 100%;
          background: #115dc4;
          z-index: 0;
          left: -208px;
        }

        [layout=columns] {
          background:rgba(255,255,255,0);
          display:flex;
          position:absolute;
          z-index:10;
          [column] {
            flex:1;

            &:first-child {
              width:300px;
              flex:initial;
              padding: 0 0 0 0px;
            }

            [type=title] {
              padding:16px 0 8px 0;
              font-size:18px;
              font-weight:bold;
              color:white;

            }
            [type=links] {
              display:flex;
              flex-direction: column;
              a {
                color:white;
                font-weight:500;
                padding: 2px 0px;
                display: block;
              }
            }
          }
        }
      }

      [layout=grid] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:0;
        flex-direction:column;

        [category=title] {
          font-size:18px;
          font-weight:300;
        }

        > ul {
          padding:0px;
          margin:0px;

          > li {
            width: 112px;
            padding: 8px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            user-select: none;
            border-radius:3px;

            &:hover {
              background:lightgrey;

              > div {
                border: 1px solid rgba(255,255,255,.8);
              }
            }

            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              flex: 1;
              height: 120px;
              border: 1px solid rgba(255,255,255,0);
              border-radius:3px;

              > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;

                svg {
                  width:100%;
                  height:40px;
                }

                + span {
                  padding: 8px 0;
                  width: 100%;
                }
              }
            }
          }
        }
        hr {
          display: block;
          border-top: 1px solid rgba(0,0,0,.12);
          margin: 16px 0px 16px 0px;
          flex:initial;
        }
      }
    }
  }
}

/* CSS Quickly Overwriting the Docusaurus css */
.container {
  margin:0;
  padding:0;
}
.row {
  margin-left:initial;
  margin-right:initial;
}
@media only screen and (min-width: 997px) {
  .docItemCol_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
    max-width:100% !important;
  }
}

#catalog {
  [class*='-NavigationBar'] {
    display:none;
  }
}

[layout], .site-card-wrapper {
  background:white;
  margin-bottom:24px;

  &[type=card] {
    background:transparent;
  }
  > div {
    padding-top:0px;

    > div {
      width:100%;

    }
  }
  [class*='-Page'] {

    [class*='-Page'] {
      margin-left:0px;
    }
  }

  [class*='-page-header'] {
    padding-left: 0;
    padding-top: 0;
    margin-top: 2px;

    [class*='-heading-title'] {
      font-size:32px;
      overflow:initial;
      line-height: initial;
    }
  }
  [class*='-card-meta'] {
    color: inherit;
  }

  .ant-tabs-nav {
    display:flex;
    .ant-tabs-tab-active, .px-tabs__item--active{
      font-weight:initial;
      color:#00529A;

      .ant-card {
        background: #00529A;
        border-color: #00529A;
        color: #fff;

        [class*='-card-meta']{
          > div {
            color:white;
            &[class*=-description] {
              color: #ffffff8c
            }
          }
        }
      }
    }
    .ant-tabs-ink-bar {
      background-color:#00529A;
    }

    > div {
      display:flex;
      > [role=tab] {
        width:49%;
        flex:1;
      }
    }
  }

  [class*='-page-header'] {
    [class*='-heading-tags'] {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      > span {
        margin-bottom:8px;
      }
    }

    [class*='-avatar-image'] {
      height:32px;
      width:32px;
    }

  }


  h4 {
    &.ant-typography {
      font-weight: 300;
      font-size: 17px;
      margin-top: 32px;
      opacity: 1;
    }
    &.footer-title {
      margin-bottom:-16px;
    }
  }

}
[role=tabpanel] {
  [layout=panel] {
    margin-top:24px;

    &[role=tabpanel] {
      margin-top:0px;
    }
  }

  [type=table] {
    + [layout=panel] {
      margin-top:42px;
    }
  }
}

[type=experiments] {
  display:flex;
  padding:0;
  margin-top:8px;
  cursor:pointer;
  li {
    cursor:pointer;

    margin-right:24px;
    text-transform:uppercase;
    font-weight:400;
    color:white;
    height:50px;
    width:100px;
    background:#1890ff;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:6px;

    &:hover {
      background: #096dd9;
    }
    a{
      height:100%;
      width:100%;
      text-align: center;
      display:flex;
      align-items: center;
      justify-content:center;
      color:inherit;
    }
  }
}


.ant-page-header-footer .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
  margin-right:2px;
}
.ant-page-header-heading-extra {
  display:flex;
}
.site-custom-tab-bar {
  z-index: 1;
  background: #fff;
}
[data-theme="dark"] .site-custom-tab-bar {
  background: #141414;
}


.image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
}

.ant-page-header-rtl .image {
  margin: 0 60px 0 0;
}

.example-link {
  line-height: 24px;
  margin-right: 16px;
}
[data-theme='compact'] .example-link {
  line-height: 20px;
}
.example-link-icon {
  margin-right: 8px;
}

[data-theme='compact'] .example-link-icon {
  width: 20px;
  height: 20px;
}

.ant-page-header-rtl .example-link {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.ant-page-header-rtl .example-link-icon {
  margin-right: 0;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}
