@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Raleway:wght@400;700&display=swap');
[font=family][type="section"] {
  [type="rows"] {
    [row] {
      height: 90px;
      display: flex;

      [col] {
        span {

        }

        label {
          font-size: 13px;
          color: #999;
          margin-right: 4px;
        }
      }

      [col=character] {
        width: 136px;
        flex: initial;
        display: flex;
        align-items: center;

        span {
          display: block;
          font-size: 90px;
          color: #565454;
          line-height: 84px;
          height: 67px;
        }
      }

      [col=preview] {
        flex: 1;

        > div {
          display: block;
          font-size: 18px;
          margin-right: 16px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 100%;
          margin-top: -5px;

          > div {
            flex: 1;
            display: flex;
            align-items: center;

            > div {
              line-height: 40px;
              height: 24px;
            }
          }
        }
      }

      [col=properties] {
        width: 120px;
        flex: initial;
        display: flex;
        flex-direction: column;
        position: relative;

        > * {
          display: block;
          color: #565454;
          line-height: 1.5;
          font-size: .9rem;

          flex: 1;
          display: flex;
          align-items: center;
        }

        &:before {
          content: "";
          position: absolute;
          left: -16px;
          top: 8px;
          border-left: 2px solid #eee;
          height: calc(100% - 16px);
        }

        [font] {

        }

        [font=name] {

        }

        [font=weight] {
          span {

          }

        }

        [font=style] {
          span {

          }
        }
      }
    }
  }
}
